# Object files
*.o
*.obj
*.ko

# Executables
smarthome_hub
temp_sensor
humidity_sensor
light_sensor
smoke_sensor
*.exe



# Database
*.db
*.db-wal
*.db-shm

# Logs
logs/
*.log

# Office temp files
*.docx
~$*

# System files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Socket files
*.sock
